.asistirButton{
	height: 28px;
	background-color: rgba(255,255,255,0);
	border: none;	
}

.asistir{
	height: 26px;
	cursor: pointer;	
}

#rounded-corner{
	border-collapse: collapse;
	font-family: "Trebuchet MS";
	font-size: 12px;
	margin: 0;
	text-align: left;
	width: 100%;
}

#rounded-corner th{
	background: #D4D4D4;
	color: #000;
	font-weight: normal;
	font-size: 13px;
	padding: 6px;
	text-align:center;
	border-left: 1px solid #efefef;
}

#rounded-corner td{
	background: #F3F3F3;
	border-top: 1px solid #fff;
	color: #669;
	padding: 6px;
	border-left: 1px solid #CCC;
}

#rounded-corner tbody tr:hover td{
	background: #FFF;
}

.caja_01_01{
	background-repeat: no-repeat;
	height: 32px;
	width: 6px;
}

.caja_01_02{
	background-repeat: no-repeat;
	height: 32px;
	width: 6px;
}

.caja_01_bottom{
	background-color:#EAEAEA;
}

.caja_bottom_01{
	background-repeat: no-repeat;
	height: 6px;
	width: 6px;
}

.caja_bottom_02{
	background-repeat: no-repeat;
	height: 6px;
	width: 6px;
}

.caja_01_top{
	background-color:#FFF;
	color: #87BD8E;
	font-family:"Trebuchet MS";
	font-size: 13px;
	padding: 0 0 0 10px;
	text-transform: uppercase;	
}


.caja_02_01{
	background-repeat: no-repeat;
	height: 32px;
	width: 6px;
}

.caja_02_02{
	background-repeat: no-repeat;
	height: 32px;
	width: 6px;
}

.caja_02_top{
	background-color: #87BD8E;
	color: #FFF;
	font-family:"Trebuchet MS";
	font-size: 13px;
	padding: 0 0 0 10px;
	text-transform: uppercase;	
}

.caja_03_01{
	background-repeat: no-repeat;
	height: 9px;
	width: 6px;
}

.caja_03_02{
	background-repeat: no-repeat;
	height: 9px;
	width: 6px;
}

.caja_03_top{
	background-color: #87BD8E;
	padding: 0 0 0 10px;
	text-transform: uppercase;	
}

.botonGuardar {
	background-color: #87BD8E;
    border: thin solid #87BD8E;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 2px 2px 2px #BBBBBB;
    color: #FFFFFF;
	cursor:pointer;
	font-family:"Trebuchet MS";
    padding: 0.4em;
    text-shadow: 1px 1px 1px #000000;
    width: auto;
}